.frp {
    width: 100vw;
    height: fit-content;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.frp_det {
    width: 30vw;
    height: 23vh;
    margin-top: 100px;
    /* background-color: aquamarine; */
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
}

.frp2_det {
    width: 30vw;
    height: 35vh;
    margin-top: 100px;
    /* background-color: aquamarine; */
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
}

.frp_det h2 {
    color: rgb(3, 3, 3);
    /* margin-left: 150px; */
}

.frp_up {
    display: flex;
    align-items: center;
    justify-content: center;
}
.frp_up h2:hover{
    transform: scale(1.1);
}
.frp-input-wrapper {
    /* background-color: red; */
    width: 100%;
    height: fit-content;
}

.frp-inputDiv {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 20px 0;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(137, 136, 136);
    position: relative;
}



.frp-inputDiv:hover {
    border-color: black;
}

.frp-input {
    height: 0px;
    border: none;
    outline: none;
    font-size: 20px;

}


.frp-inputDiv:has(.frp-input:focus, .frp-input:valid) .frp-input {
    height: 95%;
    width: 90%;
    margin: 0 5%;
    /* background-color: red; */
}

.input-rec {
    margin: 0 10px;
    background-color: white;
    width: max-content;
    padding: 0 10px;
    transition: 0.2s;
}

.frp-inputDiv:has(.frp-input:focus, .frp-input:valid) .input-rec {
    position: absolute;
    z-index: 10;
    transform: translateY(-150%);
}

/*  */

.frp-inputDiv:has(.frp-input:focus) {
    color: royalblue;
    border-color: royalblue;
}

/*  */
.frp_submit_div {
    width: max-content;
    height: max-content;
    float: right;
}

.frp_submit {
    background-color: blue;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.frp_submit:active {
    transform: scale(0.85);
}

.frp_submit:hover {
    background-color: rgb(69, 241, 11);
    color:black;
    font-size: 15px;
}